<div id="tapasList"></div>

<template id="tapasTemplate"> 
    <article
        class=" w-96 border-2 m-4 rounded-lg shadow-lg flex flex-col justify-evenly gap-8 items-center p-4">
        <img 
            class="max-w-52 aspect-video" src="https://raw.githubusercontent.com/ssoare/elrincondelbocata/d51d0cc163682945f99bc17cf4725a006770571c/public/img/no-image.svg">
        <div class=" flex justify-between w-full items-center">
            <h2 
                class="basis-4/5 text-xl font-semibold"></h2>
            <p></p>
        </div>
    </article>
</template>

<script>
    const $image = '../../public/img/'
    // @ts-nocheck
    const tapas  = {
        'Patatas fritas' : { id: 1, img: `${$image}patatas-bacon.png` , precio: 6.50 , } ,
        'Patatas bravas' : { id: 2, img: `${$image}patatas-bacon.png` , precio: 7.75 , } ,
        'Patatas con bacon y salsa césar' : { id: 3, img: '' , precio: 9 , } ,
        'Ensaladilla rusa' : { id: 4, img: '' , precio: 7.50 , } ,
        'Calamares (caseros)': { id: 5, img: '' , precio: 11.50 , } ,
        'Sepia a la plancha con salsa verde' : { id: 7, img: '' , precio: 11.50 , } ,
        'Puplito con cebolla' : { id: 10, img: '' , precio: 11 , } ,
        'Boquerones en vinagre' : { id: 11, img: '' , precio: 8.50 , } ,
        'Croquetas de pollo (8 ud.)' : { id: 12, img: '' , precio: 9 , } ,
        'Champiñones con salsa verde' : { id: 14, img: '' , precio: 7.75 , } ,
        'Revuelto de gambas, ajetes y trigueros' : { id: 15, img: '' , precio: 8.50 , } ,
        'Tabla de jamón y queso' : { id: 17, img: '' , precio: 18 , } ,
        'Carne en salsa de tomate y pimiento rojo' : { id: 18, img: '' , precio: 9 , } ,
        'Pincho de tortilla' : { id: '', img: '' , precio: 7 , } ,
    } 
    const tapasList = document.querySelector('#tapasList')
    for (const key in tapas) {
        const clone = document.querySelector('#tapasTemplate').content.cloneNode(true)
        clone.querySelector('h2').innerHTML = `${tapas[key].id}. ${key}`
        if (`${tapas[key].img}` != '') {
            clone.querySelector('img').src = `${tapas[key].img}`
        }
        clone.querySelector('p').innerHTML = `${tapas[key].precio.toFixed(2)} €`
        tapasList.appendChild(clone)
        tapasList.classList.add('flex' , 'flex-wrap' , 'justify-center', )
    }
</script>